

.intro {
	text-align: left;
	margin-left: 20px;
	padding-top: 30px;
}

h2 {
	text-align: center;
	padding: 30px;
}
.right {
	text-align: center;
	padding-left: 600px;
}
.toppage{
	background-color: #B6BEBD;
	padding-top: -30px;
	background-size: cover;
	height: 300px;
}
.email{
	padding-top: 50px;
	text-align: center;

}
.survey {
	text-align: left;
	margin-left: 20px;
	margin-top: 30px;
	line-height: 2;
}
input {
	margin-left: 200px;
}